<footer>
  <ul class="footer-info" data-cy="copyrightText">
    <li>
      Copyright © 2021 &nbsp;<a
        href="https://www.startupwars.com"
        target="_blank"
        rel="noopener"
        data-cy="startup-wars-footer-link"
      >
        STARTUP WARS </a
      >, INC. * The term STARTUP WARS are trademarks STARTUP WARS, INC. * All
      Rights Reserved.
    </li>
    <li>
      <a
        href="https://docs.google.com/document/d/1B4GN8rhuXiudx9wS6RgOvnAW29so4iM-D_JAwo_D_u8/edit?usp=sharing"
        target="_blank"
        rel="noopener"
        data-cy="tosLink"
        >Terms</a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/document/d/14tCZ9ETTd0Px-diM7X6BAl9070qlWsx8e3aV2aeWopk/edit?usp=sharing"
        target="_blank"
        rel="noopener"
        data-cy="privacyLink"
        >Privacy</a
      >
    </li>
    <li>
      {{ version }}
    </li>
  </ul>

</footer>
