.module-layout {
    border: 1px solid gray;
    padding: 5px;
    background-color: lightgreen;
  }

.parent {
    display: grid;
    min-width: 100%;
    min-height: 80vh;
}

.side-panel {
    grid-column: 1;
    background-color: yellow;
}

.main-panel {
    grid-column: 2;
    background-color: grey;
}

.npc-panel {
    height: 50%;
    background-color: rgb(157, 157, 237);
}

.dialog-panel {
    height: 50%;
    background-color: rgb(186, 250, 186);
}


  