footer {
  background: #fbfbff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh; /* footer takes 10, header takes 10, main takes 80 */
  position: fixed;
  bottom: 0;
  margin-top: 30px;
}

.footer-info {
  display: flex;
}

ul,
li {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 16px;
  margin-inline-end: 0.75rem;
  color: #191a1c;
}

a {
  color: #0c699e;
  text-decoration: underline;
}
